<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ISDP</title>
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<main></main>
<!--[if IE 8]>
<script src="scripts/es5-shim.min.js"></script>
<style>
    .ng-hide {
        display: none !important;
    }
</style>
<![endif]-->
<script src="layui/layui.all.js"></script>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-ui-router.min.js"></script>
<script src="scripts/lodash.min.js"></script>
<script src="scripts/moment.min.js"></script>
<script src="admin.min.js"></script>
</body>
</html>